Checks: '*,-modernize-use-trailing-return-type,-llvmlibc-callee-namespace,-llvmlibc-implementation-in-namespace,-clang-analyzer-security.insecureAPI.strcpy,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-readability-suspicious-call-argument,-bugprone-easily-swappable-parameters,-llvm-header-guard,-llvmlibc-restrict-system-libc-headers,-cppcoreguidelines-avoid-non-const-global-variables'
WarningsAsErrors: '-*'